@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  /* Color scheme */
  --white-color: #fff;
  --grey-color: #dbdbdb;
  --dark-grey-color: #939695;
  --text-color: #363636;
  --text-light-color: #222;
  --primary-color: #1abc9c;
  --link-color: #2980b9;
  --info-color: #3498db;
  --success-color: #2ecc71;
  --warning-color: #f39c12;
  --danger-color: #e74c3c;
  --disabled-color: #dde6e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
}

main {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.box {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

section {
  padding: 2rem 0;
}

section.alternate {
  background-color: #dbdbdb;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  margin-bottom: 0.5em;
  text-align: center;
}

h2 {
  margin-top: 1rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1rem;
}

.align-items-start {
  align-items: flex-start;
}

.button {
  margin: 6px;
}
